@import '_custom';

#container-etical-rules {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  .content-etical-rules {
    @include dp-flex-alignment(column,center, center);
    width: $s-100vw;
    background: $princiapl-background-gradient;
    .container-logo {
      @include dp-flex-alignment(row,center, center);
      mat-icon {
        width: 67px;
        height: auto;
        svg {
          width: 67px;
          height: auto;
        }
      }
      p {
        font-size: 3rem;
      }
    }
    .logo-the-specials {
      gap: $s-20px;
      padding: $s-15px;
      box-sizing: border-box;
      flex-direction: column;
      margin-top: 20px;
      @media screen and (max-width: $epecific-mobile) {
      }
      img {
        max-width: 115px;
        @media screen and (max-width: $epecific-mobile) {
          max-width: 5rem;
        }
      }
      .container-text-logo {
        h2 {
          font-size: 3rem;
        }
      }
    }
    #etical-rules {
      margin-top: $s-15px;
      display: flex;
      @include dp-flex-alignment(column,center, space-between);
      gap: $s-20px;
      padding: $s-20px $s-15px;
      width: $s-100per;
      box-sizing: border-box;
      .content-rules {
        gap: $s-20px;
        margin: $s-40px 0;
        @include dp-flex-alignment(column,center, center);
        h3 {
          max-width: 400px;
        }
      }
      app-card-img-title-text {
        width: 100%;
      }
      .container-buttons {
        flex-direction: column;
        align-items: center;
        max-width: 840px;
        gap: $s-20px;
        width: $s-100per;

        @include min-tablet {
          flex-direction: row;
        }
      }
    }
  }
  app-footer {
    width: $s-100vw;
  }
}
