@import '_custom';
#container-logged {
  @include dp-flex-alignment(column, initial, space-between);
  min-height: 100vh;
  background: $princiapl-background-gradient;
}
router-outlet {
  display: none;
}
